/* common styles
-------------------------------------------------- */
.height10 {
    clear: both;
    margin-top: 10px;
    display: block;
    height: 10px;
}
.height20 {
    clear: both;
    margin-top: 20px;
    display: block;
    height: 20px;
}
.height30 {
    clear: both;
    margin-top: 30px;
    display: block;
    height: 30px;
}